<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW PAGE</title>
    <meta name="description" content="This is a fake website for demonstration purposes.">
    <meta name="keywords" content="fake, website, demo, example">           
</head>
<body>
    <header>
        <h1>new users page </h1>
    </header>
    <form action="/users" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="myUsername" >
        
        <button type="submit">Submit</button>
    </form>
</body>

</html>